pipeline {
    agent any

    parameters {
        choice(
            name: 'ACTION',
            choices: ['apply', 'destroy'],
            description: 'Terraform Action'
        )
    }

    environment {
        AWS_DEFAULT_REGION = 'us-east-1'
        TF_STATE_BUCKET   = 'nti-terraform-states-1'
        TF_STATE_KEY      = 'eks/nonprod/terraform.tfstate'
    }

    stages {

        stage('Checkout Code') {
            steps {
                git(
                    url: 'https://github.com/12salh/EKS-Cluster-Terraform.git',
                    branch: 'main'
                )
            }
        }

        stage('Terraform Init') {
            steps {
                withCredentials([[ $class: 'AmazonWebServicesCredentialsBinding', credentialsId: 'aws_cred' ]]) {
                    dir('Ingress') {
                        sh '''
                        terraform init \
                          -backend-config="bucket=${TF_STATE_BUCKET}" \
                          -backend-config="key=${TF_STATE_KEY}" \
                          -backend-config="region=${AWS_DEFAULT_REGION}"
                        '''
                    }
                }
            }
        }

        stage('Terraform Plan') {
            when { expression { params.ACTION == 'apply' } }
            steps {
                withCredentials([[ $class: 'AmazonWebServicesCredentialsBinding', credentialsId: 'aws_cred' ]]) {
                    dir('Ingress') {
                        sh 'terraform plan -out=tfplan'
                    }
                }
            }
        }

        stage('Terraform Apply') {
            when { expression { params.ACTION == 'apply' } }
            steps {
                withCredentials([[ $class: 'AmazonWebServicesCredentialsBinding', credentialsId: 'aws_cred' ]]) {
                    dir('Ingress') {
                        sh 'terraform apply -auto-approve tfplan'
                    }
                }
            }
        }

        stage('Install Argo CD & Ingress') {
            when {
            expression { params.ACTION == 'apply' }
            }
            steps {
                dir("${WORK_DIR}") {
                    withCredentials([[$class: 'AmazonWebServicesCredentialsBinding', credentialsId: 'aws_cred']]) {
                        sh """
                            aws eks update-kubeconfig --region ${AWS_DEFAULT_REGION} --name ${CLUSTER_NAME}
                            kubectl create namespace argocd --dry-run=client -o yaml | kubectl apply -f -
                            kubectl apply -f argocd-manifest.yaml
                            helm upgrade --install nginx-ingress ingress-nginx --namespace ingress-nginx -f nginx-values.yaml
                        """
                    }
                }
            }
        }


        stage('Terraform Destroy') {
            when { expression { params.ACTION == 'destroy' } }
            steps {
                withCredentials([[ $class: 'AmazonWebServicesCredentialsBinding', credentialsId: 'aws_cred' ]]) {
                    dir('Ingress') {
                        sh 'terraform destroy -auto-approve'
                    }
                }
            }
        }

    }
}
