trigger:
  branches:
    include:
      - main

parameters:
- name: action
  displayName: Terraform Action
  type: string
  default: apply
  values:
    - apply
    - destroy

variables:
  TF_VERSION: "1.6.6"
  WORK_DIR: "Ingress"
  AWS_REGION: "us-east-1"
  TF_STATE_BUCKET: "nti-terraform-states-1"
  TF_STATE_KEY: "eks/nonprod/terraform.tfstate"

pool:
  name: Self hosted pools
  demands:
    - agent.name -equals mo-saleh

stages:
- stage: Terraform
  displayName: Ingress Terraform
  jobs:
  - job: TerraformJob
    steps:
    - checkout: self

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: $(TF_VERSION)

    - script: |
        cd $(WORK_DIR)
        terraform init \
          -backend-config="bucket=$(TF_STATE_BUCKET)" \
          -backend-config="key=$(TF_STATE_KEY)" \
          -backend-config="region=$(AWS_REGION)"
      displayName: Terraform Init

    - script: |
        cd $(WORK_DIR)
        terraform plan -out=tfplan
      condition: eq('${{ parameters.action }}', 'apply')
      displayName: Terraform Plan

    - script: |
        cd $(WORK_DIR)
        terraform apply -auto-approve tfplan
      condition: eq('${{ parameters.action }}', 'apply')
      displayName: Terraform Apply

    - script: |
        cd $(WORK_DIR)
        terraform destroy -auto-approve
      condition: eq('${{ parameters.action }}', 'destroy')
      displayName: Terraform Destroy
